<footer class="bg-dark text-center text-white">
    <div class="container p-4">
      <section class="mb-4">
        <a href="https://www.instagram.com/viniaugustods/" class="btn btn-outline-light btn-floating m-1" role="button">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/vinicius-augusto-dos-santos-2108b1237/" class="btn btn-outline-light btn-floating m-1" role="button">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/vinicads" class="btn btn-outline-light btn-floating m-1" role="button">
          <i class="fab fa-github"></i>
        </a>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2025 Sistema Biblioteca
    </div>
  </footer>
  